body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.video-card {
    background: #222;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    text-align: left;
}
